.App-header {
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #519872;
  color: white;
  font-weight: 600;
}

.auth-container, .dashboard-container {
  width: 80%;
  margin: 0px auto;
}

.auth-container {
  height: 100vh;
  background-color: #fff;
  
}

.dashboard-container {
  height: calc(100vh - 100px);
  background-image: linear-gradient(to bottom, #e2f3ea, #ffffff);
}

button {
  cursor: pointer;
}
